*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*header*/
header{
    color: white;
    text-align: center;
    background-color: black;
    margin: 20px auto;
}

/*main*/
#triki{
    display: grid;
    grid-template-columns: 3;
    width: 400px;
    height: 400px;
    color: white;
    background-color: black;
    margin: 20px auto;
    padding: auto;
}

#triki .row{
    width: 100%;
    margin: 0px auto;
}

#triki .col{
    display: inline-block;
    margin: 5px;
    width: 30%;
    height: 90%;
}

/*footer*/
footer{
    color: white;
    text-align: center;
    background-color: black;
    margin: 20px auto;
}